.bi {
    display: flex;
    flex-direction: column;

    margin-top: 5%;

    width: 100%;
}

.biElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.noMargin {
    margin: 0;
}

.text{
    font-size: 50px;
}

.graphContainer{
    margin-top: 5%;

    background-color: white;
}