.container{
    display: flex;
    flex-direction: column;
    
    align-items: center;

    margin-top: 5%;

    height: 100%;
}

.blockBlock { 
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 550px;
    height: 300px;
}

.title {
    font-size: 72px;
    color: aqua;
}

.textButtonContainer{
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    width: 100%;
}

.textinput {  
    width: 350px;
    height: 10px;
    font-size: 20px;   
}

.blockButon {
    font-size: 25px;
}