.postsContainer{
    display: flex;
    position: relative;
    z-index: 1000 ;

    flex-direction: column;
    align-items:center;

    width: 100%;
    margin-top: 3%;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 40%;
}

.createButton{
    margin-bottom: 2%;
}

.deleteButton{
    margin-bottom: 2%;

    color: white;
    background-color: red;
}