.Signin { 
    width: 500px;
    height: 550px;
}

.textinput {  
    width: 200px;
    height: 10px;
    font-size: 20px;   
}

.registerButon {
    width: 100px;
    font-size: 25px;
}

.title {
    font-size: 72px;
    color: aqua;
}

.redirectlogin {
    font-size: 20px;
    margin-left: 20px;
}