.PostCommentsContainer {
    background-color: rgb(171, 250, 253);
    width: 100%;

    max-height: fit-content;
}

.postPriviewContainer {
    display: flex;
    flex-direction: column;

    align-items: flex-start;  
    width: 100%;

    max-height: fit-content;
}

.mainInfoContainer {
    display: flex;
    flex-direction: column;

    text-align: left;
    align-items: flex-start;

    margin-left: 1%;
    width: 100%;
}

.title{
    margin-top: 0;
    margin-bottom: 0;

    color: rgb(234, 0, 255);

    width: 100%;
}

.contentText {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;

    white-space:pre-line;
}


.creator{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    margin-bottom: 0.5%;

    color: blue;
}


.replyImg{
    height:20px;
    width: 20px;
    cursor: pointer;
}

.replybutton{
    margin-left: 1%;
}

.replybuttonContainer {
    display: flex;
    justify-content: flex-start;
    margin-left: 1%;
}




.replyContainer{
    display: flex;
    flex-direction: row;
}

.replyBox{
    width: 1000px;
    height: 10px;
}

.replyOnPostButton{
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
}



.blockImg{
    height:20px;
    width: 20px;
    cursor: pointer;
}

.blockbutton{
    background: none;
    border:none;

    margin-left: 1%;
}


.editImg{
    height:20px;
    width: 20px;
    cursor: pointer;
}

.editbutton{
    background: none;
    border:none;

    margin-left: 1%;
}



.titleBox{
    width: 1000px;
    height: 10px;
}

.contentBox{
    width: 1000px;
    height: 200px;
}

.editContainer{
    display: flex;
    flex-direction: column;
}


.editPostButton{
    height: 45px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}