.profile { 
    display: flex;
    flex-direction: column;

    width: 50%;

    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.textinput {  
    width: 350px;
    height: 10px;
    font-size: 20px;   

    margin-left: auto;
    margin-right: auto;
}


.title {
    font-size: 72px;
    color: aqua;

    margin: 0;
}

.secondaryTitle {
    font-size: 30px;
    color: aqua;
}



.editProfileButon {
    width: 111px;
    font-size: 25px;
    margin-right: 40px;

    margin-left: auto;
    margin-right: auto;
}

.changePasswordButon {
    width: 200px;
    font-size: 25px;
    margin-right: 40px;

    margin-left: auto;
    margin-right: auto;
}
