.CategoryContainer{
    display: flex;
    flex-direction: column;
    

    background: linear-gradient(
        to top left,
        rgb(17, 140, 241) 0%,
        rgb(213, 255, 255) 100%
    );
    
    border: 3px solid rgb(255, 0, 221);
    border-radius: 5px;

    max-width: 300px;
    max-height: 350px; 

    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
  

.CategoryContainer:hover {
    transform: scale(1.05);
}

.subList{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
   
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    overflow:overlay;
}
::-webkit-scrollbar {
    width: 0.7em;
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #4d575865;
    height:30px;
}
  
::-webkit-scrollbar-track-piece{
     display:none;
}

.SubLink{
    color: blue;
    font-size: 25px;

    white-space: nowrap;

    margin-left: auto;
    margin-right: auto;

    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.SubLink:hover {
    color: green;

    transform: scale(1.1);
}












.grandTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    min-height: fit-content;


    background-color: rgb(151, 0, 252);
}

.spaceBetween{
    justify-content:space-between;
}

.deleteButtonContainer{
    margin-top: auto;
    margin-bottom: auto;  
}

.deleteButton{
    cursor: pointer;

    background: none;
    border: none;

    padding: 0;

    color: red;

    font-size: 40px;
}

.noMargin{
    margin-top: 0;
    margin-bottom: 0;
}


.titleContainer{
    margin-top: auto;
    margin-bottom: auto;
}

.categoryName{
    color:rgb(0, 255, 200);

    margin-top: auto;
    margin-bottom: auto;

    font-size: 40px;
}