.container {
    height: 90vh;

    display: flex; 
    justify-content:center;
    align-items: center;
}

.posting{
    width: 1000px;
}

.post_title {
    font-size: 72px;
    color: aqua;
    margin-top: 0%;
    margin-bottom: 0%;
}

.textinput2 {  
    width:900px;
    height: 10px;
    font-size: 20px;   
}

.textarea {  
    width: 900px;
    height: 300px;
    font-size: 20px;   
}

.postButon {
    
    
    width: 70px;
    margin-left: 860px;

    font-size: 25px;
}