.CommentContainer{
    border: 2px solid rgb(14, 26, 92);
    background-color: rgba(56, 27, 221, 0.116);

    margin-left: 2%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.userTimeContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    text-align: left;

    margin-top: 0%;
    margin-bottom: 0%;
}

.user {
    margin-top: 0%;
    margin-bottom: 0%;

    margin-right: 1%;
    margin-left: 1%;
}

.updated {
    margin-top: 0%;
    margin-bottom: 0%;
}

.contentContainer {
    text-align: left;

    margin-top: 0.5%;
    margin-bottom: 0.5%;

    cursor: pointer;
}

.content{
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
}



.replyImg{
    height:10px;
    width: 10px;
    cursor: pointer;
}

.replybutton{
    margin-left: 1%;
}

.replybuttonContainer {
    display: flex;
    justify-content: flex-start;
}



.replyContainer{
    display: flex;
    flex-direction: row;
}

.replyBox{
    width: 70%;
    height: 10px;
}

.replyButton{
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
}



.hide {
    display: none;
}




.editImg{
    height:10px;
    width: 10px;
    cursor: pointer;
}

.editbutton{
    margin-left: 1%;
}



.editContainer{
    display: flex;
    flex-direction: row;
}

.editBox{
    width: 70%;
    height: 10px;
}

.edditingButton{
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
}