.container{
    display: flex;
    flex-direction: column;
    
    align-items: center;

    margin-top: 5%;

    height: 100%;
}

.createBlock { 
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 600px;
    height: 380px;
}

.title {
    font-size: 72px;
    color: aqua;
}


.textinput {  
    width: 350px;
    height: 10px;
    font-size: 20px;   
}

.dropList{
    width: 380px;
}

.createButon {
    margin-top: 5%;
    font-size: 25px;
}