.Container{
    display: flex;
    position: relative;
    z-index: 1000 ;

    flex-direction: column;
    text-align: left;

    width: 100%;
    margin-top: 3%;
}

.postsContainer{
    display: flex;
    position: relative;
    z-index: 1000 ;

    flex-direction: column;
    align-items:center;

    width: 100%;
}

.commentsContainer{
    display: flex;
    position: relative;

    flex-direction: column;
    align-items:center;

    width: 100%;
}

.LastActionsTitle{
    color: rgb(119, 69, 212);

    margin: auto;
}

.createPostsTitle {
    color: blue;

    margin-left: 1%;
}

.createCommentsTitle{
    color: blue;

    margin-left: 1%;
}

.postRedirect{
    cursor: pointer;
}