.headerContainer{
    display: flex;
    justify-content: center;
    background-color:cornflowerblue;
    margin-bottom: 0;
}

.innerheaderContainer{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.welcomeContainer {
    display: flex;
    justify-content: space-between;
}

.profilebutton{
    margin-left: 4%;
}

.welcome{
    color:blue;
}

.headerlink{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    color: #069;
}