
.postPriviewContainer {
  position: relative;
  display: flex;
  z-index: 10;

  justify-content: space-between;
  width: 90%;
  
  border: 4px solid darkblue;

  background: linear-gradient(
    to right,
    rgb(69, 165, 255) 0%,
    rgb(169, 245, 245) 100%
  ); 

  align-content: flex-start;

  cursor: pointer;


 
  transition: transform ease 300ms;
}

.grayd{
  background: linear-gradient(
    to right,
    rgb(81, 107, 133) 0%,
    rgb(170, 170, 170) 100%
  ); 
}

.postPriviewContainer:hover { 
  background: linear-gradient(
    to right,
    rgb(153, 203, 250) 0%,
    rgb(237, 255, 255) 100%
  ); 

  box-shadow: 20px 10px 20px black;
  transform: translate(-20px, -10px);

  z-index: 999;
}


.mainInfoContainer {
    position: relative;
    z-index: 0 ;

    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0%;
    padding-bottom: 0%;
}

.lastUpdatedContainer {
  display: flex;
  position: relative;
  z-index: 0 ;

  flex-direction: column;
  align-items: flex-start;
  
  margin-right: 1%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.title{
  font-weight: bold;

  text-align: left;

  color: blue;

  white-space:pre-line;

  margin-bottom: 1%;
  margin-top: 0%;
}

.creator {
  margin : 0; 
  padding-top:0;
}

.lastUpdatedTitle{
  margin-bottom: 5%;
  margin-top: 0%;
  color: cornflowerblue;
}

.lastUpdated {
  margin : 0; 
  padding-top:0;
  color: cornflowerblue;

  text-align: left;
  white-space: nowrap;
}











.contentText {
  visibility: hidden;

  background-color: rgb(9, 19, 110);
  color: #fff;

  border: 3px solid rgb(0, 102, 255);
  border-radius: 6px;
  padding: 5px 5px;

  
  text-align: start;
  white-space:pre-line;

  max-width: 70%;
  

  /* Position the tooltip */
  position: absolute;
  z-index: 999 !important;
  top: -20%;
  left: 20%;
}

.postPriviewContainer:hover .contentText {
  visibility: visible;
}
