body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    to left,
    rgb(8, 47, 153) 0%,
    rgb(0, 247, 247) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ------------------------------------------------ Global CSSs ------------------------------------------------ */

/* align on screen middle */
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

/* create a block to use in forms */
.form-block{
  background-color: #61cfcf;
  border: 1px solid grey;

  border-radius: 10px;

  transition: transform 0.25s ease-out;
}
.form-block:hover {
  transform: scale(1.02);
}

/* input design */
.input {
  -webkit-appearance: none;
  
  color: blue;

  border :none;
  outline :none;
  padding: 15px;
  margin: 3px;
}

input:focus { 
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px red;
}

/* input validator */
.validator {
  color: red;
  font-size: 12px;
  margin: 4px;
  padding: 15px;
}

/* button design */
.buton {
  -webkit-appearance: none;
  border: none;
  outline: none;

  line-height: 30px;

  color: rgb(228, 20, 117);
  background-color: rgb(94, 6, 235);

  font-size: 25px;

  cursor: pointer;
}

/** make a button look like a link */
.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}




/* ------------------------------------------------ Custom fonts ------------------------------------------------ */
.lobster-font{
  font-family: 'Lobster', cursive;
}

.sil-font {
  font-family: 'Shadows Into Light', cursive;
}

.playfair-font {
  font-family: 'Playfair Display', serif;
}

.shipori-font {
  font-family: 'Shippori Antique', sans-serif;
}

.poppings-font {
  font-family: 'Poppins', sans-serif;
}
