.emoteContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 100%;
}

.emoteButton {
    -webkit-appearance: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0);
}

.emoteImg {
    cursor: pointer;
    
    height: 30px;
    width: 30px;
}

.emoteCounter{
}

.counterContainer{
    display: flex;
    align-items: center;
}

.buttonContainer{
    display: flex;
    align-items: center;
    height: 100%;
}

.activated{
    color: darkorange;
}