.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
}

.title {
    font-size: 60px;
    color: aqua;
}

.headerlink{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    color: #069;
}